.content
  %h2 About Me
  %p I'm a web developer, designer and entrepreneur. I write Ruby and Javascript at <a href="curbednetwork.com">Curbed</a>.
  %p
    I co-founded Opus Video Productions, an A/V product and service company specializing in multi-camera
    = succeed "." do
      %a{:href => "http://theopuscapture.com/"} video recording and streaming devices
  %p{:style => "text-decoration: line-through;"} I'm currently working as a freelancer, for small-medium businesses. If you have a project you need help with, send me an email. If you're a company looking for a full time developer, send me an email (no head hunters please).
  
  %p I'm not accepting freelance work at this time.

  %h2 Contact

  %p
    Email:
    %a{:href => "mailto:jason.ormand1@gmail.com"} jason.ormand1@gmail.com
    %br/
    Twitter:
    %a{:href => "http://twitter.com/okor"} @okor
    %br/
    Github:
    %a{:href => "https://github.com/okor"} okor
    %br/