.content
  %h2 About Me
  %p I'm a web developer, designer and entrepreneur. I write Ruby and Javascript at <a href="curbednetwork.com">Curbed</a>.
  %p
    I co-founded Opus Video Productions, an A/V product and service company specializing in multi-camera video recording and streaming devices.
  
  %p I'm not entertaining job offers or accepting freelance work at this time.

  %p I'm building a quad-copter.

  %h2 Contact

  %p
    Email:
    %a{:href => "mailto:jason.ormand1@gmail.com"} jason.ormand1@gmail.com
    %br/
    Twitter:
    %a{:href => "http://twitter.com/okor"} @okor
    %br/
    Github:
    %a{:href => "https://github.com/okor"} okor
    %br/