%article.post
  %header
    %h1= title
    %div.meta
      %span.date= date 
      by 
      %span.author= author
  %section.content
    = body
  %section.comments
    #disqus_thread
    :javascript
      var disqus_shortname = 'jasonormand';
      (function() {
          var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
          dsq.src = 'http://' + disqus_shortname + '.disqus.com/embed.js';
          (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();