.work_column
  %h2 Open Source
  %ul
    %li
      %a.preview_labels{:href => "https://github.com/okor/LEMPress", :target => "none"} LEMPress
      %a.preview_shots{:href => "https://github.com/okor/LEMPress", :style => "background: url('/images/work/opensource/lempress/preview.png'); ", :target => "none"}
    %li
      %a.preview_labels{:href => "https://github.com/okor/simple-stopwatch", :target => "none"} Simple Stopwatch
      %a.preview_shots{:href => "https://github.com/okor/simple-stopwatch", :style => "background: url('/images/work/opensource/rackstopwatch/preview.png'); ", :target => "none"}
    %li
      %a.preview_labels{:href => "http://backboneboilerplate.com", :target => "none"} BackBoneBoilerPlate.com
      %a.preview_shots{:href => "http://backboneboilerplate.com", :style => "background: url('/images/work/opensource/bbbp/preview.png'); ", :target => "none"}
    %li
      %a.preview_labels{:href => "https://github.com/okor/whoiz", :target => "none"} WhoIz
      %a.preview_shots{:href => "https://github.com/okor/whoiz", :style => "background: url('/images/work/opensource/whoiz/preview.png'); ", :target => "none"}
.work_column
  %h2 Client Projects
  %ul
    %li
      %a.preview_labels{:href => "/work/client/theopuscapture_ui"} Opus Capture UI
      %a.preview_shots{:href => "/work/client/theopuscapture_ui", :style => "background: url('/images/work/client/theopuscapture_ui/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/miharikun.com"} MihariKun.com
      %a.preview_shots{:href => "/work/client/miharikun.com", :style => "background: url('/images/work/client/miharikun.com/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/sarahatlee"} SarahAtlee.com
      %a.preview_shots{:href => "/work/client/sarahatlee", :style => "background: url('/images/work/client/sarahatlee.com/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/theopuscapture"} TheOpusCapture.com
      %a.preview_shots{:href => "/work/client/theopuscapture", :style => "background: url('/images/work/client/theopuscapture.com/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/sarahatlee_resume"} Sarah Atlee resume
      %a.preview_shots{:href => "/work/client/sarahatlee_resume", :style => "background: url('/images/work/client/sarahatlee_resume/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/staceyclermont_resume"} Stacey Clermont resume
      %a.preview_shots{:href => "/work/client/staceyclermont_resume", :style => "background: url('/images/work/client/staceyclermont_resume/preview.png'); "}
    %li
      %a.preview_labels{:href => "/work/client/theopusmagnum"} TheOpusMagnum.com
      %a.preview_shots{:href => "/work/client/theopusmagnum", :style => "background: url('/images/work/client/theopusmagnum.com/preview.png'); "}
.clear