input, textarea {
  border: 0;
  outline: 0;
  margin: 0 0 15px 0;
  padding: 10px;
  font-size: 40px;
  width: 530px;
  overflow: auto;
}

textarea {
  height: 300px;
}

input[type="text"], textarea {
  font-family: 'PT Sans';
  min-height: 60px;
  background: #e6e6e6;
  color: #c7c7c7;
  box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.15); 
}

input[type="text"]:active,
input[type="text"]:focus, 
textarea:active,
textarea:focus {
  min-height: 60px;
  background: #e6e6e6;
  color: #727272;
}

.user_set_data,
.user_set_data:focus,
.user_set_data:active,
.user_set_data:hover {
  color: #727272 ! important;
}

input[type="text"].error, textarea.error {
  box-shadow: inset 0 0 8px 2px #d5a217;
}



input[type="submit"] {
  font-family: 'League_Gothic';
  background-color: #d5a217;
  color: white;
  width: 550px;
}

input[type="submit"]:hover {
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.15);
}

input[type="submit"]:active,
input[type="submit"]:focus {
  box-shadow: inset 0 0 8px 2px rgba(0,0,0,0.15);
}

/*#contact_details {
  line-height: 1em;
}*/

#contact_details ul {
  margin: 0 0 1em 0;
}

#contact_details h2 {
  font-family: 'League_Gothic';
  font-size: 48px;
  line-height: 1.2em;
}

#contact_details a {
/*  color: #c7c7c7;*/
/*  font-size: 36px;*/
}

#contact_details a:hover {
  color: #d5a217;
  text-shadow: 0 0 1px rgba(0,0,0,0.2);
}




#errorExplanation {
  padding: 10px;
  background: #d5a217;
  color: white;
  min-height: 60px;
  margin: 0 0 15px 0;
  box-shadow: 0 0 8px 2px rgba(0,0,0,0.15);
}

#errorExplanation h2 {
  font-size: 160%;
}

#errorExplanation li {
  margin: 10px;
  font-size: 120%;
  list-style: disc inside;
}





