/ single project
.work.grid_24
  %h2.work_title MihariKun.com
  %p.work_description DESIGN / HTML / CSS / JQUERY / RUBY ON RAILS
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/miharikun.com/miharikun_login.jpg"}/
  .shot_wrap
    %img{:src => "/images/work/client/miharikun.com/miharikun_main.jpg"}/
.clear
/ end single project