<!-- single project -->
<div class="work grid_24">
  <h2 class="work_title">MihariKun.com</h2>
  <p class="work_description">DESIGN / HTML / CSS / JQUERY / RUBY ON RAILS</p>

  <!-- shots -->
  <div class="shot_wrap">
    <img src="/images/work/client/miharikun.com/miharikun_login.jpg" />
  </div>

  <div class="shot_wrap">
    <img src="/images/work/client/miharikun.com/miharikun_main.jpg" />
  </div>

</div>

<div class="clear"></div>
<!-- end single project -->