/ single project
.work.grid_24
  %h2.work_title SarahAtlee.com
  %p.work_description DESIGN / HTML / CSS / JAVASCRIPT
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/sarahatlee.com/sarahatlee_home.jpg"}/
  .shot_wrap
    %img{:src => "/images/work/client/sarahatlee.com/sarahatlee_paintings.jpg"}/
.clear
/ end single project