/ single project
.work.grid_24
  %h2.work_title Sarah Atlee resume
  %p.work_description DESIGN
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/sarahatlee_resume/sarahatlee_resume.jpg"}/
.clear
/ end single project