/ single project
.work.grid_24
  %h2.work_title Stacey Clermont resume
  %p.work_description DESIGN
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/staceyclermont_resume/staceyclermont_resume.jpg"}/
.clear
/ end single project