<!-- single project -->
<div class="work grid_24">
  <h2 class="work_title">Stacey Clermont resume</h2>
  <p class="work_description">DESIGN</p>

  <!-- shots -->
  <div class="shot_wrap">
    <img src="/images/work/client/staceyclermont_resume/staceyclermont_resume.jpg" />
  </div>

</div>

<div class="clear"></div>
<!-- end single project -->