/ single project
.work
  %h2.work_title UI for Opus Capture
  %p.work_description DESIGN / HTML / CSS / JAVASCRIPT / USER TESTING
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/theopuscapture_ui/opuscapture_ui_1.jpg"}/
  .shot_wrap
    %img{:src => "/images/work/client/theopuscapture_ui/opuscapture_ui_2.jpg"}/
  .shot_wrap
    %img{:src => "/images/work/client/theopuscapture_ui/opuscapture_ui_3.jpg"}/
.clear
/ end single project