/ single project
.work
  %h2.work_title TheOpusMagnum.com
  %p.work_description DESIGN / HTML / CSS
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/theopusmagnum.com/theopusmagnum.com.jpg"}/
.clear
/ end single project
.clear
/ end single project