<!-- single project -->
<div class="work">
  <h2 class="work_title">TheOpusMagnum.com</h2>
  <p class="work_description">DESIGN / HTML / CSS </p>

  <!-- shots -->
  <div class="shot_wrap">
    <img src="/images/work/client/theopusmagnum.com/theopusmagnum.com.jpg" />
  </div>

</div>

<div class="clear"></div>
<!-- end single project -->