<!-- single project -->
<div class="work">
  <h2 class="work_title">TheOpusCapture.com</h2>
  <p class="work_description">DESIGN / HTML / CSS </p>

  <!-- shots -->
  <div class="shot_wrap">
    <img src="/images/work/client/theopuscapture.com/theopuscapture.com.jpg" />
  </div>

  <div class="shot_wrap">
    <img src="/images/work/client/theopuscapture.com/theopuscapture.com_form.jpg" />
  </div>

</div>

<div class="clear"></div>
<!-- end single project -->