/ single project
.work
  %h2.work_title TheOpusCapture.com
  %p.work_description DESIGN / HTML / CSS
  / shots
  .shot_wrap
    %img{:src => "/images/work/client/theopuscapture.com/theopuscapture.com.jpg"}/
  .shot_wrap
    %img{:src => "/images/work/client/theopuscapture.com/theopuscapture.com_form.jpg"}/
.clear
/ end single project