!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %title
      =title
    %link{:href => "/css/styles.css", :rel => "stylesheet", :type => "text/css"}
      %link{:href => "/favicon.ico", :rel => "shortcut icon"}/
      %link{:href => "/index.xml", :rel => "alternate", :title => "#{title} - feed", :type => "application/atom+xml"}/
  %body
    #container
      .nav
        %a{:href => "/"} BLOG
        %a{:href => "/about"} ABOUT
        %a{:href => "/work"} WORK
      .clear
      #title_container
        %a{:href => "/"}
          %h1#page_title
            Developer. Designer.
            %span Jason Ormand
        %p#spiel Blog/Portfolio for a Developer/Designer/Entrepreneur
      .main
        = yield
      #footer
        %a{:href => "/"} blog
        |
        %a{:href => "/about"} about
        |
        %a{:href => "/work"} work
    / end .container_24
    :javascript
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-7234461-7']);
      _gaq.push(['_trackPageview']);

      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();